trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  backendPath: 'Backend'
  imageName: 'petpal-backend'
  tag: '$(Build.BuildId)'

stages:
  - stage: Build
    jobs:
      - job: BuildDockerImage
        steps:
          - task: Docker@2
            displayName: Build image
            inputs:
              command: build
              Dockerfile: '$(backendPath)/Dockerfile'
              tags: '$(tag)'
              buildContext: '$(backendPath)'
          
          # Agreg치 ac치 un paso de test unitario cuando lo tengamos

  - stage: DeployQA
    condition: succeeded()
    jobs:
      - job: DeployToQA
        steps:
          - script: echo "游 Aqu칤 ir칤a el deploy autom치tico a QA (Azure Container Instances, App Service, etc.)"
            displayName: Placeholder de Deploy QA

  - stage: DeployPROD
    dependsOn: DeployQA
    condition: succeeded()
   
    jobs:
      - job: DeployToProd
        steps:
          - script: echo "游릭 Aqu칤 ir칤a el deploy final a PRODUCCI칍N con aprobaci칩n manual"
            displayName: Placeholder de Deploy Prod
